html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
}
#first{
    width: 33%;
    height: 100%;
    background-color: green;
}
#middle{
    min-width: 400px;
    width: 33%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#top{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#pizza{
    max-width: 60%;
    max-height: 60%;
}
#para{
    padding-top: 10%;
    text-align: center;
    font-family:Italiana;
    font-weight: 1000;
}
#index{
    padding-top: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
}
li{
    text-align: center;
    padding-top: 30px;
}
#listed{
    margin: auto;
    padding-right: 30px;
}
a{
    color: green;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: none;
    font-size: larger;
}
#home{
    font-size: larger;
    text-decoration: underline;
}
#home:hover{
    color: red;
    font-size: x-large;
}
#last{
    width: 33%;
    height:100%;
    background-color: red;
}
#recipe{
    text-align: left; 
    background-color: palegoldenrod;
    overflow: scroll;
    border-style: double;
}